.header-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: #07070e;
  z-index: 1000;
}

.header-title {
  color: #15eafd;
  font-size: 1.5rem;
  font-weight: bold;
}

.login-box {
  display: flex;
  gap: 10px;
}

.login-btn {
  margin-right: 10px !important;
}
